<div class="col-sm-6">
	<form action="" method="POST" role="form">
		<legend>Contact Us</legend>
	
		<div class="form-group">
			<label for="">Your Name</label>
			<input type="text" class="form-control" id="" placeholder="Put your name here">
		</div>

		<div class="form-group">
			<label for="">Your Email</label>
			<input type="text" class="form-control" id="" placeholder="Put your email here">
		</div>

		<div class="form-group">
			<label for="">Message</label>
			<textarea class="form-control"></textarea>
		</div>
	
		<button type="submit" class="btn btn-default niceborder pull-right">Submit</button>
	</form>
</div>