/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(/fonts/indie-flower.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{ color: red; font-size: 14pt; font-family: 'Indie Flower', cursive;}
a{color: #FB8E92;}
a:hover{color: red; text-decoration: none;}

/*this need to be put before .niceborder*/
.thumbnail, .btn{border: none;}

.niceborder { 
    -webkit-border-image: url('/img/borderbox.png') 5 repeat; /* Safari 3.1-5 */
    -o-border-image: url('/img/borderbox.png') 5 repeat; /* Opera 11-12.1 */
    border-image: url('/img/borderbox.png') 5 repeat;
}

#logo{padding: 20px;}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.carousel-control.left, .carousel-control.right{background-image: none;}

.carousel-control .glyphicon{color: #a00;}



/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #FFE0E0;
  background-image: none;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li:first-child > a {
    border-radius: 0;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0;
  }
}